.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../assets/img/fondo3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  justify-content: space-evenly;
}

.welcome {
  font-size: 2em;
  font-family: cursive;
  color: #c24d2c;
  margin-top: -70px;
  margin-bottom: -60px;
}

.Form {
  display: flex;
  flex-direction: column;
  background-color: #d9dad7;
  height: 100%;
  width: 110%;
  border-radius: 10px;
  font-family: cursive;
  font-size: large;
  gap: 20px;
  border: 1px solid black;
  align-items: center;
}

.Form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
  gap: 10px;
}

.label {
  margin-bottom: 50px;
  font-weight: bold;
  font-family: cursive;
  font-size: 1.5em;
  color: #c24d2c;
}

 .input  {
  box-sizing: border-box;
  width: fit-content;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: fit-content;
}


input[type="text"]:invalid,
input[type="password"]:invalid {
  border-color: red;
}

.warning {
  border-color: red;
}

.danger {
  display: block;
  margin-left: 180px;
  margin-top: -10px;
  color: red;
  font-size: 14px;
  height: min-content;
  width: fit-content;
}

.buttonContainer {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
}


  .button {
    min-width: 130px;
    height: 40px;
    background-color: #3e4a61;
    color: black;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    /* background: #fff; */
    overflow: hidden;
    border: 2px solid #adb5bd;
    color: #adb5bd;
    font-size: 0.75em;
  }
  .button:hover {
    color:white;
    font-size: 0.8em;
    transition: all 0.3s ease;
  }
  .button:hover:after {
    width: 100%;
  }
  .button:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.6s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background:#1a2639;
    
  }









/* 
.button:hover {
  background-color: #1a2639;
} */